{% extends "base.html" %} {% block title %} about HassanAmirii.me {% endblock %} {% block body %}

<h1>about/me</h1>
<hr>
<p>
    I'm currently working on Python , flask , sqlalchemy etc and have plans to explore other languages such as Java, etc. Additionally, I'm eager to delve into various Python libraries for web scraping, </p>

<p>
    AI/ML, cloud computing, and more to broaden my tech stack. Currently, I'm diving deeper into Python and exploring its various frameworks.
</p>

<p>
    Additionally, I'm enhancing my mathematical skills by studying calculus, linear algebra, and other computer science-related topics.
</p>
<hr> {% endblock %}