{% extends "base.html" %} {% block title %} Myexperience - HassanAmirii.me {% endblock %} {% block body %}

<hr>
<h2> Teaching comp-science edu and mathematics - [in imam bashir model academy] ([2024] - Present)</h2>
<p>
    Enhancing critical thinking: Cultivated critical thinking and problem-solving skills in grade [grade 1-6] computer science education and math classes through engaging lessons and interactive activities. Differentiated instruction: Implemented differentiated
    instruction strategies to cater to diverse learning styles and ensure each student reaches their full potential.
</p>


<hr>
<br>

<h2>Software Development Engineer - [in imam bashir model academy] ([2024] - Present) </h2>
<p>Building a software application: Developing a software application called "[school tools]" for the school, utilizing [python , flask , sqlachemy , html , css ]. This project provided valuable experience in [database management, project management, user
    interface design etc].
</p>

<hr>
<br>

<h2> Exploring New Horizons: </h2>
<p>
    While currently focused on teaching and software development within the school environment, I am actively exploring opportunities to expand my skillset and contribute to diverse fields in the technology sector. My passion lies in [ web development, machine
    learning and artificial intelligence]. This blend of teaching experience, technical expertise, and a strong desire to learn positions me to make a valuable impact in various technological domains.
</p>
<hr> {% endblock %}