body {
    background-color: black;
    text-align: center;
    color: antiquewhite;
}

#magic {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 33px;
}

#magic2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 33px;
}